<!-- Start Content-->
<div class="container-fluid">

    <div class="row">
      <div class="col-md-8">
        <h1> Referencias/bibliografia</h1>
      </div>
    </div>
      <div class="container text-center">
        - https://materialbitcoin.com/blog/libros-criptomonedas/
        - https://www.mercadolibre.com.ar/el-trading-de-criptomonedas-teoria-practica-y-estrategias/p/MLA22109686
        - "Análisis técnico de los mercados financieros" por John J. Murphy
        - "Trading en la zona" por Mark Douglas
        - https://www.amazon.com/Technical-Analysis-Using-Multiple-Timeframes/dp/B007NXQHWW
        
        - https://terabox.com/s/1wwNHwrduNqWP4eu8Wpe8bA
        - ChatGPT/Gemini
        <br><br>
      
      </div>
      
  
      <br><br>
  
  </div> <!-- container-fluid -->
