<div id="wrapper">

    <div class="content-page">
        <div class="content">
            
            
             <!-- ========== Empleado ============ -->
             <div class="row">
                    <div class="col-md-6">
                        <h5 class="m-t-30">Empleado : </h5>
                        <div class="ng-autocomplete" style="width:450px">
                            <ng-autocomplete [data]="empleados" [searchKeyword]="keywordEmpleado" placeholder="Selecciona empleado" (selected)='selectEventEmpleado($event)' (inputChanged)='onChangeSearchEmpleado($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplateEmpleado" [notFoundTemplate]="notFoundTemplate">
                            </ng-autocomplete>
                        </div>
                        <ng-template #itemTemplateEmpleado let-item>
                            <a [innerHTML]="item.empleado"></a>
                        </ng-template>
                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                     <!-- ========== Cliente ============ -->
                    <div class="col-md-6">
                        <h5 class="m-t-30">Cliente : </h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="ng-autocomplete" style="width:350px">
                                    <ng-autocomplete 
                                    [data]="clientes" 
                                    [searchKeyword]="keywordCliente" 
                                    placeholder="Selecciona cliente" 
                                    (selected)='selectEventCliente($event)' 
                                    (inputChanged)='onChangeSearchCliente($event)' 
                                    (inputFocused)='onFocused($event)' 
                                    [itemTemplate]="itemTemplateCliente" 
                                    [notFoundTemplate]="notFoundTemplate">
                                    </ng-autocomplete>
                                </div>
                                <ng-template #itemTemplateCliente let-item>
                                    <a [innerHTML]="item.NombreCompleto"></a>
                                </ng-template>
                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-purple" style="text-align: center; display: block; margin: 0 auto;" data-toggle="modal" data-target="#responsive-modal-alta-cliente">
                                    <i class="mdi mdi-plus"></i> 
                                </button>
                            </div>                            
                        </div>                        
                    </div>
            </div>
            <br /><br />
            <!-- ========== Fin Empleado ============ -->


            <!-- ========== Articulos ============ -->
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <!-- ========== Buscador producto ============ -->
                        <div class="row">
                            <div class="col-md-5">
                                <h4 >Producto :</h4>
                                <div class="ng-autocomplete" style="width:350px">
                                    <ng-autocomplete [data]="productos" [searchKeyword]="keywordProducto" placeholder="Selecciona producto" 
                                    (selected)='selectEventProducto($event)' (inputChanged)='onChangeSearchProducto($event)' 
                                    (inputFocused)='onFocusedProducto($event)' [itemTemplate]="itemTemplateProducto"
                                    [notFoundTemplate]="notFoundTemplateProducto">
                                    </ng-autocomplete>
                                </div>
                                <ng-template #itemTemplateProducto let-item>
                                    <a [innerHTML]="item.producto"></a>
                                </ng-template>
                                <ng-template #notFoundTemplateProducto let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                            <div class="col-md-2">
                                <h4 >Cantidad :</h4>
                                <input [(ngModel)]="cantidadLineaVentaProducto" (input)="cambiaCantidadVentaProducto($event)" type="text" class="form-control form-control-line" placeholder="Cantidad...">
                            </div>
                            <div class="col-md-2">
                                <h4 >Precio :</h4>
                                <input [(ngModel)]="precio_producto_pendiente" type="text" class="form-control form-control-line" placeholder="Precio producto...">
                            </div>
                            <div class="col-md-2" >
                                <br><br>
                                <button (click)="agregarLineaVentaProducto()" type="button" class="btn btn-info btn-circle"><i class="mdi mdi-plus"></i> </button>
                            </div>
                        </div>

                        <!-- ========== Fin Buscador producto ============ -->
                        <br>
                        <!-- ========== Buscador servicio ============ -->
                        <div class="row">
                            <div class="col-md-5">
                                <h4 >Servicio :</h4>
                                <div class="ng-autocomplete" style="width:350px">
                                    <ng-autocomplete [data]="servicios" [searchKeyword]="keywordServicio" placeholder="Selecciona servicio" 
                                    (selected)='selectEventServicio($event)' (inputChanged)='onChangeSearchServicio($event)' 
                                    (inputFocused)='onFocusedServicio($event)' [itemTemplate]="itemTemplateServicio"
                                    [notFoundTemplate]="notFoundTemplateServicio">
                                    </ng-autocomplete>
                                </div>
                                <ng-template #itemTemplateServicio let-item>
                                    <a [innerHTML]="item.servicio"></a>
                                </ng-template>
                                <ng-template #notFoundTemplateServicio let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                            <div class="col-md-2">
                                <h4 >Cantidad :</h4>
                                <input [(ngModel)]="cantidadLineaVentaServicio" (input)="cambiaCantidadVentaServicio($event)" type="text" class="form-control form-control-line" placeholder="Cantidad...">
                            </div>
                            <div class="col-md-2">
                                <h4 >Precio :</h4>
                                <input [(ngModel)]="precio_servicio_pendiente" type="text" class="form-control form-control-line" placeholder="Precio servicio...">
                            </div>
                            <div class="col-md-2">
                                <br><br>                                
                                <button (click)="agregarLineaVentaServicio()" type="button" class="btn btn-success btn-circle"><i class="mdi mdi-plus"></i> </button>
                            </div>
                        </div>

                        <!-- ========== Fin Buscador servicio ============ -->

                        <br/><br/>
                        <!-- ===== Tabla con listado de productos ===== -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Productos/Servicios agregados</h4>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Producto/Servicio</th>
                                                        <th>Cantidad</th>
                                                        <th>SubTotal</th>
                                                        <th>Tipo</th>
                                                        <th class="text-nowrap"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let linea of lineas_venta">
                                                        <td>{{linea.producto_servicio }}</td>
                                                        <td>{{linea.cantidad }}</td>
                                                        <td>$ {{linea.precio_venta }}</td>
                                                        <td>{{linea.tipo }}</td>
                                                        <td style="cursor: pointer;">                                                            
                                                            <a data-toggle="tooltip" (click)="eliminarItemVenta(linea.IdProductoServicio)" data-original-title="Close"> 
                                                                <i class="mdi mdi-delete"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4>Total Venta : $ {{totalVenta}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ===== Fin Tabla con listado de productos ===== -->
                    </div>
                </div>
            </div>
            <br>
            <button hidden #buttonAbrirModalDescuentoEfectivo class="btn btn-primary" data-toggle="modal" data-target="#divCerrarModalDescuentoEfectivo" data-whatever="@mdo"></button>
            <button type="submit" (click)="continuarVenta()" class="btn btn-info btn-lg btn-block text-uppercase" alt="default" data-toggle="modal" data-target="#responsive-modal">Continuar</button>
            <br>
            <!-- ====================== -->
        </div>
</div>
<!-- =========== MODAL FORMAS DE PAGO =========== -->
<div class="col-md-4" *ngIf="activarModal">
    <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Formas de pago</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-8">
                        <h4>Total Venta : $ {{totalVenta}}</h4>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Tipo pago : </label>
                                <select tabindex="4" (ngModelChange)='onChangeTipoPago($event)' [(ngModel)]="IdTipoPagoSelect" name="IdTipoPago" class="form-control">
                                    <option *ngFor="let tp of tiposPago" [value]="tp.id_tipo_pago">
                                        {{tp.tipo_pago}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>Monto : </label>
                                <input type="text" [(ngModel)]="monto" name="monto" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <button (click)="agregarLineaTipoPago()" type="button" class="btn btn-info btn-circle" style="margin-top: 30px;"><i class="mdi mdi-plus"></i>  </button>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Items de pago</h4>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Subtotal</th>
                                                    <th class="text-nowrap"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let linea_tp of lineas_tipos_pago" [ngClass]="{'table-success': (linea_tp.IdTipoPago == 13 || linea_tp.IdTipoPago == 14), 'table-warning' : (linea_tp.TipoPago == 'Recargo Tarjeta') }">
                                                    <td>{{linea_tp.TipoPago }}</td>
                                                    <td>$ {{linea_tp.SubTotal }}</td>
                                                    <td class="text-nowrap">
                                                        <a (click)="eliminarItemTipoPago(linea_tp)" data-toggle="tooltip" data-original-title="Close"> <i class="mdi mdi-delete"></i>  </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4>Total : $ {{totalTiposPago}}</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h6>Restante : $ {{totalTiposPagoRestante}}</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>Observaciones :</h4>
                                            <textarea class="form-control" [(ngModel)]="descripcion_venta" name="descripcion" placeholder="Observaciones..."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button #divCerrarModalFormaPago type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" (click)="altaVenta()">Finalizar venta</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
</div>

<!-- =========== MODAL NUEVO CLIENTE =========== -->
<div class="col-md-4">
    <div id="responsive-modal-alta-cliente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nuevo cliente</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Apellidos : </label>
                            <input [(ngModel)]="apellidos_nuevo_cliente" name="Apellidos" type="text" placeholder="Apellidos..." class="form-control" maxLength="30">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Nombres : </label>
                            <input [(ngModel)]="nombres_nuevo_cliente" name="Nombres" type="text" placeholder="Nombres" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>DNI : </label>
                            <input [(ngModel)]="dni_nuevo_cliente" name="DNI" type="text" placeholder="DNI" class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Telefono : </label>
                            <input [(ngModel)]="telefono_nuevo_cliente" name="Telefono" type="text" placeholder="Telefono" class="form-control">
                        </div>    
                    </div>   
                    <div class="row">            
                        <div class="col-sm-6 form-group">
                            <label>Email : </label>
                            <input [(ngModel)]="email_nuevo_cliente" name="Email" type="email" placeholder="Email" class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Direccion : </label>
                            <input [(ngModel)]="direccion_nuevo_cliente" name="direccion" type="text" placeholder="Direccion..." class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Fecha nacimiento : </label>
                            <input [(ngModel)]="fecha_nac_nuevo_cliente" name="fecha_nac" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Observaciones : </label>
                            <textarea [(ngModel)]="observaciones_nuevo_cliente" name="Observaciones" type="textarea" placeholder="Observaciones..." rows="3" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button #botonCerrarModalNuevoCliente type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success waves-effect waves-light" (click)="altaCliente()">Cargar Cliente</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
</div>
