
<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->


    <div class="content-page">
        <div class="content">
 
            <!-- Start Content-->
            <div class="container-fluid">

              <div class="row">
                <div class="col-md-8">
                  <h1> Analisis fundamental - TEP</h1>
                </div>
                <div class="col-md-4">
                </div>
              </div>

              <div class="container text-center">
                <table class="table table-bordered border-primary table-responsive">
                  <thead class="">
                    <tr class="thick-row">
                      <th scope="col">Indicador</th>
                      <th scope="col">Tendencia</th>
                      <th scope="col">Comentarios</th>
                    </tr>
                  </thead>
                  <tbody class="">
                    <!-- ===== Equipo de desarrollo y comunidad ====== -->
                    <tr class="thick-row">
                      <td scope="row">
                        <h4>Equipo de desarrollo y comunidad</h4>
                      
                        <br>
                        <label>Seleccione</label><br>
                        <select class="form-select" >
                          <option value="alcista">Alcista</option>
                          <option value="bajista">Bajista</option>
                          <option value="ninguna">Ninguna</option>
                        </select>
              
                        <br>

                        <button class="btn btn-primary" type="button" >Calcular tendencia para Equipo de desarrollo y comunidad</button>
              
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                    <!-- ===== Tecnología subyacente ====== -->
                    <tr class="thick-row">
                        <td scope="row">
                          <h4>Tecnología subyacente</h4>
                        
                          <br>
                          <label>Seleccione</label><br>
                          <select class="form-select" >
                            <option value="alcista">Alcista</option>
                            <option value="bajista">Bajista</option>
                            <option value="ninguna">Ninguna</option>
                          </select>
                
                          <br>
  
                          <button class="btn btn-primary" type="button" >Calcular tendencia para Tecnología subyacente</button>
                
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                      <!-- ===== Adopción y casos de uso ====== -->
                    <tr class="thick-row">
                        <td scope="row">
                          <h4>Adopción y casos de uso</h4>
                        
                          <br>
                          <label>Seleccione</label><br>
                          <select class="form-select" >
                            <option value="alcista">Alcista</option>
                            <option value="bajista">Bajista</option>
                            <option value="ninguna">Ninguna</option>
                          </select>
                
                          <br>
  
                          <button class="btn btn-primary" type="button" >Calcular tendencia para Adopción y casos de uso</button>
                
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                        <!-- ===== Eventos y noticias ====== -->
                    <tr class="thick-row">
                        <td scope="row">
                          <h4>Eventos y noticias</h4>
                        
                          <br>
                          <label>Seleccione</label><br>
                          <select class="form-select" >
                            <option value="alcista">Alcista</option>
                            <option value="bajista">Bajista</option>
                            <option value="ninguna">Ninguna</option>
                          </select>
                
                          <br>
  
                          <button class="btn btn-primary" type="button" >Calcular tendencia para Eventos y noticias</button>
                
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                       
                       <!-- ===== Fundamentales financieros ====== -->
                    <tr class="thick-row">
                        <td scope="row">
                          <h4>Fundamentales financieros</h4>
                        
                          <br>
                          <label>Seleccione</label><br>
                          <select class="form-select" >
                            <option value="alcista">Alcista</option>
                            <option value="bajista">Bajista</option>
                            <option value="ninguna">Ninguna</option>
                          </select>
                
                          <br>
  
                          <button class="btn btn-primary" type="button" >Calcular tendencia para Fundamentales financieros</button>
                
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                       <!-- ===== Análisis comparativo ====== -->
                    <tr class="thick-row">
                        <td scope="row">
                          <h4>Análisis comparativo</h4>
                        
                          <br>
                          <label>Seleccione</label><br>
                          <select class="form-select" >
                            <option value="alcista">Alcista</option>
                            <option value="bajista">Bajista</option>
                            <option value="ninguna">Ninguna</option>
                          </select>
                
                          <br>
  
                          <button class="btn btn-primary" type="button" >Calcular tendencia para Análisis comparativo</button>
                
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                </table>

                <br><br>

            </div> <!-- container-fluid -->

        </div> <!-- content -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
