
<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->


    <div class="content-page">
        <div class="content">
 
            <!-- Start Content-->
            <div class="container-fluid">

              <div class="row">
                <div class="col-md-8">
                  <h1> Analisis fundamental - TEP</h1>
                </div>
                <div class="col-md-4">
                </div>
              </div>

              <div class="container text-center">
                <table class="table table-bordered border-primary table-responsive">
                  <thead class="">
                    <tr class="thick-row">
                      <th scope="col">Indicador</th>
                      <th scope="col">Tendencia</th>
                      <th scope="col">Comentarios</th>
                    </tr>
                  </thead>
                  <tbody class="">
                    <!-- ===== Equipo de desarrollo y comunidad ====== -->
                    <tr class="thick-row">
                      <td scope="row">
                        <h4>Equipo de desarrollo y comunidad</h4>

                        <h6> Evaluar el equipo de desarrollo detrás de la criptomoneda es crucial. Se analiza la experiencia y la credibilidad del equipo, 
                          así como su historial en el desarrollo de proyectos anteriores. Además, se examina la comunidad que respalda la criptomoneda, 
                          incluido el nivel de actividad en foros, redes sociales y el compromiso con el proyecto
                        </h6>
                        
                        <br>
                        <label>Seleccione</label><br>
                        <select class="form-select" >
                          <option value="alcista">Alta experiencia y la credibilidad del equipo</option>
                          <option value="bajista">Bajista</option>
                          <option value="ninguna">Ninguna</option>
                        </select>
              
                        <br>

                        <button class="btn btn-primary" type="button" >Calcular tendencia para Equipo de desarrollo y comunidad</button>
              
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                    <!-- ===== Tecnología subyacente ====== -->
                    <tr class="thick-row">
                        <td scope="row">
                          <h4>Tecnología subyacente</h4>

                          <h6> Se investiga la tecnología subyacente de la criptomoneda, como el algoritmo de consenso, la escalabilidad, 
                            la seguridad y cualquier innovación técnica que pueda diferenciarla de otras criptomonedas. 
                            Esto puede incluir la lectura del libro blanco del proyecto y la comprensión de su arquitectura técnica
                          </h6>

                          <br>
                          <label>Seleccione</label><br>
                          <select class="form-select" >
                            <option value="alcista">Alcista</option>
                            <option value="bajista">Bajista</option>
                            <option value="ninguna">Ninguna</option>
                          </select>
                
                          <br>
  
                          <button class="btn btn-primary" type="button" >Calcular tendencia para Tecnología subyacente</button>
                
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                      <!-- ===== Adopción y casos de uso ====== -->
                    <tr class="thick-row">
                        <td scope="row">
                          <h4>Adopción y casos de uso</h4>
                          <h6> Se analiza la adopción de la criptomoneda y sus casos de uso potenciales en el mundo real. 
                            Esto implica evaluar si la criptomoneda resuelve un problema real, 
                            su potencial para perturbar industrias existentes y su capacidad para ganar tracción entre los usuarios y empresas.
                          </h6>

                          <br>
                          <label>Seleccione</label><br>
                          <select class="form-select" >
                            <option value="alcista">Alcista</option>
                            <option value="bajista">Bajista</option>
                            <option value="ninguna">Ninguna</option>
                          </select>
                
                          <br>
  
                          <button class="btn btn-primary" type="button" >Calcular tendencia para Adopción y casos de uso</button>
                
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                        <!-- ===== Eventos y noticias ====== -->
                    <tr class="thick-row">
                        <td scope="row">
                          <h4>Eventos y noticias</h4>
                        
                          <h6> Se presta atención a los eventos y noticias que pueden afectar el precio y la percepción de la criptomoneda en el mercado. 
                            Esto incluye anuncios de asociaciones, actualizaciones de software, regulaciones gubernamentales,
                             y otros eventos que pueden tener un impacto significativo en el proyecto.
                          </h6>

                          <br>
                          <label>Seleccione</label><br>
                          <select class="form-select" >
                            <option value="alcista">Alcista</option>
                            <option value="bajista">Bajista</option>
                            <option value="ninguna">Ninguna</option>
                          </select>
                
                          <br>
  
                          <button class="btn btn-primary" type="button" >Calcular tendencia para Eventos y noticias</button>
                
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                       
                       <!-- ===== Fundamentales financieros ====== -->
                    <tr class="thick-row">
                        <td scope="row">
                          <h4>Fundamentales financieros</h4>
                        
                          <h6> En algunos casos, se pueden considerar los fundamentos financieros, como los informes financieros
                             de la empresa o la cantidad recaudada durante una ICO (Oferta Inicial de Moneda). 
                            Sin embargo, este tipo de información puede ser limitada para algunas criptomonedas descentralizadas.
                            </h6>
                          <br>
                          <label>Seleccione</label><br>
                          <select class="form-select" >
                            <option value="alcista">Alcista</option>
                            <option value="bajista">Bajista</option>
                            <option value="ninguna">Ninguna</option>
                          </select>
                
                          <br>
  
                          <button class="btn btn-primary" type="button" >Calcular tendencia para Fundamentales financieros</button>
                
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                       <!-- ===== Análisis comparativo ====== -->
                    <tr class="thick-row">
                        <td scope="row">
                          <h4>Análisis comparativo</h4>
                          <h6> Comparar la criptomoneda con otras similares en el mercado puede proporcionar una perspectiva más amplia sobre su 
                            posición competitiva y su potencial de crecimiento.
                           </h6>
                          <br>
                          <label>Seleccione</label><br>
                          <select class="form-select" >
                            <option value="alcista">Alcista</option>
                            <option value="bajista">Bajista</option>
                            <option value="ninguna">Ninguna</option>
                          </select>
                
                          <br>
  
                          <button class="btn btn-primary" type="button" >Calcular tendencia para Análisis comparativo</button>
                
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                </table>

                <br><br>

            </div> <!-- container-fluid -->

        </div> <!-- content -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
