<main class="form-signin w-100 m-auto">
  <form class="form-horizontal form-material" [formGroup]="form" autocomplete="off" (ngSubmit)="ingresar()">
    <div class="row">
      <div class="col-md-4">
        <img src="../../../../assets/images/logo_estetica.png" alt="" width="140" height="140">
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <img src="../../../../assets/images/logo_bazar.png" alt="" width="140" height="140" >
      </div>
    </div>
    <h1 class="h3 mb-3 fw-normal">Acceso</h1>

    <div class="form-floating">
      <input formControlName="usuario" class="form-control" placeholder="Usuario">
      <label for="floatingInput">Usuario</label>
    </div>
    <div class="form-floating">
      <input formControlName="password" type="password" class="form-control" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    
    <button class="btn btn-primary w-100 py-2" type="submit">Ingresar</button>
</form>
</main>

<br><br><br>
<div style="text-align: center;">
    <div>
        <P>
            Copyright &copy;
            <script>
                document.write(new Date().getFullYear());
            </script> Desarrollado por <a href="https://juanchehin.github.io/chehin-ingenieria/" target="_blank">Ing. Juan Chehin</a>
        </P>
    </div>
</div>